{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{{ title }}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Address Type</label>
                            {{ form.address_type }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Full Name</label>
                            {{ form.full_name }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Mobile Number</label>
                            {{ form.mobile_number }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Alternate Mobile Number</label>
                            {{ form.alternate_mobile_number }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Address Line 1</label>
                        {{ form.address_line_1 }}
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Address Line 2</label>
                        {{ form.address_line_2 }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">City</label>
                            {{ form.city }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">State</label>
                            {{ form.state }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Country</label>
                            {{ form.country }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Postal Code</label>
                            {{ form.postal_code }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Landmark</label>
                        {{ form.landmark }}
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Delivery Instructions</label>
                        {{ form.delivery_instructions }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="form-check">
                                {{ form.is_default }}
                                <label class="form-check-label">Set as Default Address</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-check">
                                {{ form.is_billing_address }}
                                <label class="form-check-label">Use as Billing Address</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-check">
                                {{ form.is_shipping_address }}
                                <label class="form-check-label">Use as Shipping Address</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Save Address</button>
                        <a href="{% url 'address_list' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}