{% extends 'base.html' %}

{% block content %}

<h2>
Order Payment
</h2>

<h3>
₹{{ order.total }}
</h3>

<button id="pay-btn">

    Pay Now

</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

var options = {

    "key":
        "{{ razorpay_key }}",

    "amount":
        "{{ amount }}",

    "currency":
        "INR",

    "order_id":
        "{{ payment.razorpay_order_id }}",

    "handler":
        function(response){

            fetch(
                "{% url 'verify_payment' %}",
                {
                    method:"POST",

                    headers:{
                        "X-CSRFToken":
                        "{{ csrf_token }}"
                    },

                    body:new URLSearchParams(
                    response)
                }
            )
            .then(r=>r.json())
            .then(data=>{

                if(data.success){

                    window.location.href =
                    "/orders/success/"
                    + data.order_id
                    + "/";

                }

            });

        }
};

var rzp = new Razorpay(
    options
);

document
.getElementById(
    "pay-btn"
)
.onclick = function(e){

    rzp.open();

    e.preventDefault();

};

</script>

{% endblock %}