{% extends 'base.html' %}

{% block content %}

<h2>{{ product.name }}</h2>

<p>{{ product.description }}</p>

<hr>

<h3>Variants</h3>

{% for variant in variants %}

<p>
SKU : {{ variant.sku }}
</p>

<p>
Price : {{ variant.price }}
</p>

{% endfor %}

<hr>

<h3>Images</h3>

{% for image in images %}

<img
    src="{{ image.image.url }}"
    width="150"
>

{% endfor %}
<a href="{% url 'add_to_cart' variant.id %}">
    Add To Cart
</a>
<a href="{% url 'add_to_wishlist' product.id %}">
    Add To Wishlist
</a>

<hr>


<h3>Reviews</h3>

{% for review in reviews %}
<h3>

Rating:
{{ product.average_rating }}/5

</h3>

<h3>
Customer Reviews
</h3>

{% for review in reviews %}

<div>

<strong>

{{ review.user.first_name }}

</strong>

{% if review.is_verified_purchase %}

<span>
Verified Purchase
</span>

{% endif %}

<p>

{{ review.rating }}/5

</p>

<h4>

{{ review.title }}

</h4>

<p>

{{ review.review }}

</p>

</div>

<hr>

{% endfor %}



{% endblock %}